<p id="notice"><%= notice %></p>

<h1>Listing Batches</h1>

<table>
  <thead>
    <tr>
      <th>Job class</th>
      <th>Created at</th>
      <th>Status</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @batches.each do |batch| %>
      <tr>
        <td><%= batch.job_class %></td>
        <td><%= batch.created_at %></td>
        <td><%= batch.status %></td>
        <td><%= link_to 'Show', batch %></td>
        <td><%= link_to 'Destroy', batch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Batch', new_batch_path %>
